<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">

<div class="main-container">

    <img class="imagen_portada transparente" src="../../../../../assets/images/alcudio/Miedo.PNG" alt="user"
        id="imagen-alcudio">
    <div class="chat-content centrar mt-0">
        <div class="box bg-light-info transparente" id="contenedor-info">
            <p class="transparente-1">¡Hola! Soy <b style="color: #8B412B;">ALCUDIO</b>, vuestro compañero virtual.
                ¡Bienvenidos a <b>"La Búsqueda del Tesoro" 🗺️</b>!</p>
            <p class="transparente-2">Mis piezas han desaparecido y el museo está en peligro ⚠️. ¿Me ayudas a
                recuperarlas? ¡Que comience la aventura!</p>
                <div class="chat-content centrar">
                    <div class="box2 bg-light-info transparente-3" (click)="goToGame()">COMENZAR</div>
                </div>
        </div>
    </div>
</div>