<div class="main-container">   
    <nav class="navbar navbar-expand-lg">      
        <div class="navbar-collapse justify-content-center">
            <div class="d-flex align-items-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" style="padding-top: 6px;" href="../"><img src="../../assets/images/logos/logo_arte.png" width="40px" alt="logo" /></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Conócenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="descripcion" style="color: #F2EFE8; padding-bottom: 20px;">
                <h2 class="titulo pb-1">Conoce ARte</h2>
                <p>Descubre una nueva dimensión para tu museo con nuestra plataforma interactiva. Mediante códigos QR, tus visitantes podrán explorar modelos 3D, escuchar relatos fascinantes y aprender sobre cada pieza en varios idiomas. Nuestro asistente virtual Alcudio convierte cada visita en una aventura, especialmente para los niños. Además, con nuestro panel de administración, gestionar exposiciones y supervisar el rendimiento del museo nunca ha sido tan sencillo y eficiente.</p>
            </div>
            <div class="row">
                <div class="col-md-4 pt-3">
                    <!-- Card que envuelve ambas secciones -->
                    <div class="card p-4 h-280">
                        <div class="titulo2" style="text-align: center; color: #F2EFE8; font-size: 16px;">
                            <div class="pb-2" style="font-size: 24px; color: #F2EFE8"><span>Piezas QR interactivas</span></div>
                            <p class="text-muted">¡Descubre una experiencia única al escanear nuestro código QR!</p>
                            <p class="text-muted">Sumérgete en detallados modelos 3D, escucha relatos y explora el significado de cada pieza. </p>
                            <p class="text-muted">Además, nuestra interfaz está diseñada multilingue y con pictogramas, brindando una experiencia inclusiva para todos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 pt-3">
                    <div class="row">
                        <div class="col-md-4 imagenes-col4">
                            <img src="../../../../assets/images/interfaces/piezas (4).jpg" alt="Busqueda del tesoro" class="responsive-img" style="padding-right: 10px;">
                        </div>
                        <div class="col-md-4 imagenes-col4">
                            <img src="../../../../assets/images/interfaces/piezas (2).jpg" alt="Busqueda del tesoro" class="responsive-img" style="padding-right: 10px;">
                        </div>
                        <div class="col-md-4 imagenes-col4">
                            <img src="../../../../assets/images/interfaces/piezas (3).jpg" alt="Busqueda del tesoro" class="responsive-img" style="padding-right: 10px;">
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 pt-4">
                    <!-- Card que envuelve ambas secciones -->
                    <div class="card p-4 h-280">
                        <div class="titulo2" style="text-align: center; color: #F2EFE8; font-size: 16px;">
                            <div class="pb-2" style="font-size: 24px; color: #F2EFE8"><span>Asistente virtual Alcudio</span></div>
                            <p class="text-muted">Alcudio ofrece una experiencia única para los niños, guiándolos en la búsqueda de las piezas del museo las cuales deberán escanear para recuperar.</p>
                            <p class="text-muted">Esta experiencia dinámica y diferente permite una inmersión total en el mundo del museo, elevando la visita a otro nivel.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 pt-4">
                    <div class="row">
                        <div class="col-md-4 imagenes-col4">
                            <img src="../../../../assets/images/interfaces/alcudio (1).jpg" alt="Busqueda del tesoro" class="responsive-img" style="padding-right: 10px;">
                        </div>
                        <div class="col-md-4 imagenes-col4">
                            <img src="../../../../assets/images/interfaces/alcudio (2).jpg" alt="Busqueda del tesoro" class="responsive-img" style="padding-right: 10px;">
                        </div>
                        <div class="col-md-4 imagenes-col4">
                            <img src="../../../../assets/images/interfaces/alcudio (3).jpg" alt="Busqueda del tesoro" class="responsive-img" style="padding-right: 10px;">
                        </div>
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 pt-4">
                    <!-- Card que envuelve ambas secciones -->
                    <div class="card p-4 h-280">
                        <div class="titulo2" style="text-align: center; color: #F2EFE8; font-size: 16px;">
                            <div class="pb-2" style="font-size: 24px; color: #F2EFE8"><span>Panel de administración</span></div>
                            <p class="text-muted">Descubre nuestro panel de administración para gestionar las exposiciones, piezas o juegos con total detalle.</p>
                            <p class="text-muted">Una plataforma ideal para potenciar la experiencia del museo y seguir de cerca su rendimiento a través de indicadores detallados.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 pt-4">
                    <div id="carouselExampleControls" class="carousel slide mt-2" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="../../../../assets/images/interfaces/admin (1).png" class="d-block w-100" alt="Slide 1">
                          </div>
                          <div class="carousel-item">
                            <img src="../../../../assets/images/interfaces/admin (2).png" class="d-block w-100" alt="Slide 2">
                          </div>
                          <div class="carousel-item">
                            <img src="../../../../assets/images/interfaces/admin (5).png" class="d-block w-100" alt="Slide 2">
                          </div>
                          <div class="carousel-item">
                            <img src="../../../../assets/images/interfaces/admin (4).png" class="d-block w-100" alt="Slide 2">
                          </div>
                          <div class="carousel-item">
                            <img src="../../../../assets/images/interfaces/admin (3).png" class="d-block w-100" alt="Slide 2">
                          </div>
                          <!-- Añade más imágenes dentro de .carousel-inner según sea necesario -->
                        </div>
                      </div>                      
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer text-center">
    <div class="footer-content">
        &copy; ARte. Diseñado y desarrollado por el grupo 
        <a href="https://arte.ovh/withu" class="mr-2">WithU</a> |
        <a href="politica-de-privacidad" class="ml-2">Política de Privacidad y Cookies</a>
    </div>
    <div class="redes-sociales">
        <a href="https://www.instagram.com/arte_abp_ua" target="_blank"><i class="fab fa-instagram pr-4"></i></a>
        <a href="https://www.tiktok.com/@arte_abp" target="_blank"><i class="fab fa-tiktok"></i></a>
    </div>
</footer>