<!-- ... Existing HTML code ... -->

<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> 
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/administrador" routerLinkActive="active" aria-expanded="false">
                        <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Inicio</span>
                    </a>
                </li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/administrador/indicadores" routerLinkActive="active" aria-expanded="false">
                        <i class="mdi mdi-chart-areaspline"></i><span class="hide-menu">Indicadores</span>
                    </a>
                </li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-map"></i><span class="hide-menu">Exposiciones </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/administrador/exposiciones" class="sidebar-link"><i class="mdi mdi-view-list"></i><span class="hide-menu"> Listado exposiciones </span></a></li>
                        <li class="sidebar-item"><a href="/administrador/exposiciones/editar" class="sidebar-link"><i class="mdi mdi-pencil"></i><span class="hide-menu"> Editar exposiciones </span></a></li>
                        <li class="sidebar-item"><a href="/administrador/exposiciones/crear" class="sidebar-link"><i class="mdi mdi-plus-box"></i><span class="hide-menu"> Crear exposición </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-border-all"></i><span class="hide-menu">Salas </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/administrador/salas" class="sidebar-link"><i class="mdi mdi-view-list"></i><span class="hide-menu"> Listado salas </span></a></li>
                        <li class="sidebar-item"><a href="/administrador/salas/editar" class="sidebar-link"><i class="mdi mdi-pencil"></i><span class="hide-menu"> Editar salas </span></a></li>
                        <li class="sidebar-item"><a href="/administrador/salas/crear" class="sidebar-link"><i class="mdi mdi-plus-box"></i><span class="hide-menu"> Crear sala </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-image-multiple"></i><span class="hide-menu">Piezas</span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/administrador/piezas" class="sidebar-link"><i class="mdi mdi-view-list"></i><span class="hide-menu"> Listado piezas </span></a></li>
                        <li class="sidebar-item"><a href="/administrador/piezas/editar" class="sidebar-link"><i class="mdi mdi-pencil"></i><span class="hide-menu"> Editar piezas </span></a></li>
                        <li class="sidebar-item"><a href="/administrador/piezas/crear" class="sidebar-link"><i class="mdi mdi-plus-box"></i><span class="hide-menu"> Crear pieza </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/administrador/juegos" routerLinkActive="active" aria-expanded="false">
                        <i class="mdi mdi-puzzle"></i><span class="hide-menu">Juegos</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

<!-- ... Existing HTML code ... -->
