<script src="classes/Shaders/TRecursoShader.ts"></script>

<div class="main-container">
  <script src="https://github.com/toji/gl-matrix.git"></script>
    <div class="content-container">
      <div class="engine-wrapper">
        <canvas #rendererCanvas id="renderCanvas"></canvas>
      </div>
      <!-- <div class="mobile-container piece-container">
        <div class="piece-name">
          <button id="resetButton" style="position: fixed; top: 100px; left: 10px;"> Reset </button>
          <h3>Jarrón romano</h3>
        </div>
        <p>La jarra de época romana, conocida como olpe, es una notable pieza de cerámica del siglo II. Producida en talleres locales, destaca por su elegante diseño y detalle artístico. Esta olpe revela la maestría artesanal de la época y ofrece una ventana única a la vida cotidiana del Imperio Romano.</p>
      </div>-->
  </div>