<div class="main-container">   
    <nav class="navbar navbar-expand-lg">      
        <div class="navbar-collapse justify-content-center">
            <div class="d-flex align-items-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" style="padding-top: 6px;" href="../">
                            <img src="../../assets/images/logos/logo_arte.png" width="40px" alt="logo" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../conocenos">Conócenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>   
    <div class="contenedor justify-content-center d-flex align-items-center">
        <div class="container pt-5 pb-5">
            <div class="row justify-content-center">
                <div class="descripcion">
                    <h2 class="titulo pb-3">Política de privacidad</h2>
                    <p>
                        En ARte, estamos comprometidos con la protección de tu privacidad. 
                        Esta Política de Privacidad explica cómo recopilamos, usamos y protegemos la información personal que nos proporcionas cuando visitas nuestro sitio web.
                    </p>
                    <h3>Información que recopilamos</h3>
                    <p>
                        Cuando visitas nuestro sitio web, podemos recopilar cierta información personal, 
                        como tu nombre, dirección de correo electrónico y otra información de contacto que nos proporciones voluntariamente.
                    </p>
                    <h3>Uso de la información</h3>
                    <p>
                        Utilizamos la información que recopilamos para diversos fines, incluyendo:
                    </p>
                    <ul>
                        <li><p>Proporcionar y mejorar nuestros servicios.</p></li>
                        <li><p>Personalizar tu experiencia en nuestro sitio web.</p></li>
                        <li><p>Comunicarnos contigo sobre productos, servicios y promociones.</p></li>
                    </ul>
                    <h3>Protección de la información</h3>
                    <p>
                        Tomamos medidas para proteger la seguridad de tu información personal y para garantizar su confidencialidad. 
                        Sin embargo, debes tener en cuenta que ninguna transmisión de datos a través de Internet o cualquier sistema de almacenamiento de datos puede garantizar una seguridad absoluta.
                    </p>
                    <h3>Divulgación de información</h3>
                    <p>
                        No vendemos, alquilamos ni compartimos tu información personal con terceros, excepto según lo permita esta Política de Privacidad o cuando estemos legalmente obligados a hacerlo.
                    </p>
                    <h3>Tus derechos</h3>
                    <p>
                        Tienes derecho a acceder, corregir y eliminar la información personal que tenemos sobre ti. 
                        Si deseas ejercer estos derechos, contáctanos utilizando la información de contacto proporcionada al final de esta Política de Privacidad.
                    </p>
                    <h3>Cambios en esta política</h3>
                    <p>
                        Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. 
                        Te recomendamos que revises periódicamente esta página para estar al tanto de cualquier cambio. 
                        El uso continuado de nuestro sitio web después de la publicación de cambios en esta Política de Privacidad constituirá tu aceptación de dichos cambios.
                    </p>
                    <p>
                        Si tienes alguna pregunta o inquietud sobre nuestra Política de Privacidad, no dudes en contactarnos.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<footer class="footer text-center">
    <div class="footer-content">
        &copy; ARte. Diseñado y desarrollado por el grupo 
        <a href="https://arte.ovh/withu" class="mr-2">WithU</a> |
        <a href="politica-de-privacidad" class="ml-2">Política de Privacidad y Cookies</a>
    </div>
    <div class="redes-sociales">
        <a href="https://www.instagram.com/arte_abp_ua" target="_blank"><i class="fab fa-instagram pr-4"></i></a>
        <a href="https://www.tiktok.com/@arte_abp" target="_blank"><i class="fab fa-tiktok"></i></a>
    </div>
</footer>
