<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

<!-- REAL -->

<div class="main-container">
    <div class="content-container">
        <div class="row">
            <div class="col-9">
                <div class="card-body paginacion" style="margin-bottom: -20px;">
                    <p><i class="mdi mdi-arrow-left" style="margin-right: 5px; padding-top: 8px;"></i>Sala romana</p>
                </div>
            </div>
            <div class="col-3 ml-auto d-flex">
                <div class="card-body paginacion p-0" style=" margin-bottom: -20px;">
                    <div>
                        <button class="btn-pag mb-4"><i class="fas fa-angle-left"></i></button>
                        <button class="btn-pag mb-4"><i class="fas fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="contenedor-motor" id="contenedor-motor" (click)="usarMotorGrafico()">
            <div class="engine-wrapper" id="altura">
                <app-engine [rutaModelo]="rutaModelo"></app-engine>
            </div>
        </div>      

        <div class="card contenedor-juego mobile-container" id="contenedor_informacion" style="margin-top: 12px;">
            <div class="row">
                <div class="col-1">
                    <i id="boton_musica" class="mdi mdi-botones mdi-play-circle-outline" (click)="togglePlay()"></i>
                </div>  
                <div class="col-9 pl-4">
                    <div class="titulo-pieza">
                        <h3 class="titulo-pagina" style="color: #3A3A3A">{{ pieza?.informacion?.[0]?.nombre }}</h3>
                            <span class="info-pieza text-muted">{{ salaNombre }} </span><span class="info-pieza text-muted">/  Siglo XX</span>
                    </div>
                </div>              
                <div class="col-2" id="opciones_accesibilidad" style="font-size: 14px; color: #454545; padding-left: 0px;">                   
                    <div class="toggle-container">

                        <!-- <input type="radio" id="option1" name="toggle" value="texto" class="toggle-input" checked (change)="onToggleChange($event)">
                        <label for="option1" class="toggle-label">
                          <i class="mdi mdi-format-title"></i>
                        </label>
                        
                        <input type="radio" id="option2" name="toggle" value="reproductor" class="toggle-input" (change)="onToggleChange($event)">
                        <label for="option2" class="toggle-label">
                          <i class="mdi mdi-volume-high"></i>
                        </label>

                        <input type="radio" id="option3" name="toggle" value="pictograma" class="toggle-input" (change)="onToggleChange($event)">
                        <label for="option3" class="toggle-label">
                          <i class="mdi mdi mdi-file-image"></i>
                        </label> -->

                        <div class="dropdown pr-2" id="opciones_texto">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownAccesibilidad" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px;">
                                <i class="mdi mdi-botones {{ opcionSeleccionadaIcono }}" style="font-size: 25px;"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAdditional" style="padding-top: 5px;">
                                <a class="dropdown-item" style="font-size: 13px;" (click)="onToggleChange(1,'mdi-format-align-left')"><i class="mdi mdi-format-align-left" style="margin-right: 5px;"></i>INFORMACIÓN</a>
                                <!-- <a class="dropdown-item" style="font-size: 13px;" value="reproductor" (click)="onToggleChange(2,'mdi-unfold-less')"><i class="mdi mdi-unfold-less" style="margin-right: 5px;"></i>CORTO</a> -->
                                <a class="dropdown-item" style="font-size: 13px;" value="reproductor" (click)="onToggleChange(3,'mdi-volume-high')"><i class="mdi mdi-volume-high" style="margin-right: 5px;"></i>AUDIO</a>
                                <a class="dropdown-item" style="font-size: 13px;"><i class="mdi mdi-file-image" style="margin-right: 5px;"></i>PICTOGRAMA</a>
                            </div>
                        </div>

                        <!-- <i id="boton_musica" class="mdi mdi-botones mdi-play-circle-outline" (click)="togglePlay()"></i> -->

                    </div>                                                                                                                               
                </div>
            </div>
            <div class="contenedor-descripcion scrollable" id="descripcion">
                <p>{{ pieza?.informacion?.[0]?.texto_completo }}</p>
            </div>
            <div class="contenedor-musica scrollable" id="reproductor" style="padding-top: 20px;">
                <audio id="miAudio" class="" controls="controls" src="../../../../../assets/audios/07.mp3" style="width: 100%;">Your browser does not support the audio element.</audio>           
            </div>
        </div>
    </div>
</div>

<!-- PRUEBA -->

<!--
<div class="main-container">
    <div class="content-container">
        <div class="row">
            <div class="col-9">
                <div class="card-body paginacion" style="margin-bottom: -20px;">
                    <p><i class="mdi mdi-arrow-left" style="margin-right: 5px; padding-top: 8px;"></i>Sala romana</p>
                </div>
            </div>
            <div class="col-3">
                <div class="card-body paginacion" style="margin-bottom: -20px;">
                </div>
            </div>
        </div>
  
        <div class="contenedor-motor" id="contenedor-motor" (click)="usarMotorGrafico()">
            <div class="engine-wrapper" id="altura">
                <app-engine [rutaModelo]="rutaModelo"></app-engine>
            </div>
        </div>          

        <div class="card contenedor-juego mobile-container" id="contenedor-descripcion" style="margin-top: 12px;">
            <div class="row">
                <div class="col-9">
                    <div class="titulo-pieza">
                        <h3 class="titulo-pagina" style="color: #3A3A3A">Jarrón romano</h3>
                            <span class="info-pieza text-muted">Sala romana </span><span class="info-pieza text-muted">/  Siglo XX</span>
                    </div>
                </div>              
                <div class="col-3" id="opciones_accesibilidad" style="font-size: 14px; color: #454545; padding-left: 0px;">                   
                    <div class="toggle-container">
                        <input type="radio" id="option1" name="toggle" value="texto" class="toggle-input" checked (change)="onToggleChange($event)">
                        <label for="option1" class="toggle-label">
                          <i class="mdi mdi-format-title"></i>
                        </label>
                        
                        <input type="radio" id="option2" name="toggle" value="reproductor" class="toggle-input" (change)="onToggleChange($event)">
                        <label for="option2" class="toggle-label">
                          <i class="mdi mdi-volume-high"></i>
                        </label>

                        <input type="radio" id="option3" name="toggle" value="pictograma" class="toggle-input" (change)="onToggleChange($event)">
                        <label for="option3" class="toggle-label">
                          <i class="mdi mdi mdi-file-image"></i>
                        </label>
                    </div>                                                                                                                               
                </div>
            </div>
            <div class="contenedor-descripcion scrollable" id="descripcion">
                <p>La jarra de época romana, conocida como olpe, es una notable pieza de cerámica del siglo II. Producida en talleres locales, destaca por su elegante diseño y detalle artístico. Producida en talleres locales, destaca por su elegante diseño y detalle artístico.</p>
                <p>La jarra de época romana, conocida como olpe, es una notable pieza de cerámica del siglo II. Producida en talleres locales, destaca por su elegante diseño y detalle artístico.</p>
            </div>
            <div class="contenedor-musica scrollable" id="reproductor" style="padding-top: 20px;">
                <audio id="" class="" controls="controls" src="../../../../../assets/audios/07.mp3" style="width: 100%;">Your browser does not support the audio element.</audio>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="dropdown" id="opciones_texto">
    <a class="nav-link dropdown-toggle" id="navbarDropdownAccesibilidad" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px;">
        <i class="mdi mdi-format-size"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAdditional" style="padding-top: 8px;">
        <a class="dropdown-item" style="font-size: 13px;"><i class="mdi mdi-format-align-center" style="margin-right: 5px;"></i>COMPLETO</a>
        <a class="dropdown-item" style="font-size: 13px;"><i class="mdi mdi-unfold-less" style="margin-right: 5px;"></i>CORTO</a>
        <a class="dropdown-item" style="font-size: 13px;"><i class="mdi mdi-brightness-2" style="margin-right: 5px;"></i>CONTRASTE</a>
        <a class="dropdown-item" style="font-size: 13px;"><i class="mdi mdi-file-image" style="margin-right: 5px;"></i>PICTOGRAMA</a>
    </div>
</div> -->  

<script>
    function expandirContenedor() {
        var contenedor = document.getElementById("contenedor-motor");
        contenedor.style.width = "100vw";
        contenedor.style.height = "100vh";
        contenedor.style.position = "fixed";
        contenedor.style.top = "0";
        contenedor.style.left = "0";
        contenedor.style.zIndex = "9999";
    }
</script>
