.main-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../../../../assets/images/background/patron_fondo2.png');
    background-size: cover; 
    background-clip: padding-box;
    background-repeat: no-repeat;
    font-family: lato, sans-serif;
    min-height: calc(100dvh - 71.38px);
}


.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); /* Sombra */
}

.cabecera {
    background-color: #ede9e1;
    padding: 10px;
    color: #454545;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); /* Desplazamiento vertical de 2px, sin desplazamiento horizontal */
}

.cabecera2 {
    padding: 10px;
    padding-bottom: 0px;
    color: #454545;
}

.content-container {
    /*padding: 10px;*/
}

.center-horizontal {
    justify-content: center;
}

.paginacion {
    padding: 4px;
    padding-left: 16px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 22px;
    text-transform: uppercase;
}

p {
    margin: 0px;
    font-size: 16px;
}

a {
    color: grey;
    text-decoration: none;
}

.imagen-pieza {
    aspect-ratio: 1;
    object-fit: cover;
}

.text-muted {
    font-size: 15px;
}

.contenedor-descripcion {
    /*height: calc(100vh - 71.38px - 34vh - 255px);*/
    padding-top: 8px;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-transform: none;
    color: #454545;
}

