<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

<div class="main-container">

    <div class="content-container">
  
        <div class="card-body contenedor-juego mobile-container mt-4">

            <div class="row">
                <div class="col-12">
                    <div class="card-body p-1">
                        <img src="../../../../../assets/images/alcudio/Miedo.PNG " alt="user" style="width: 220px;">
                        <div class="chat-content centrar mt-0">
                            <div class="box bg-light-info">¡Hola! Soy <b style="color: #8B412B;">ALCUDIO</b>, vuestro compañero virtual. ¡Bienvenidos a <b>"La Búsqueda del Tesoro" 🗺️</b>!<br><br>
                                Mis piezas han desaparecido y el museo está en peligro ⚠️. ¿Me ayudas a recuperarlas? ¡Que comience la aventura!</div>
                        </div>
                        <div class="chat-content centrar mt-3">
                            <div class="box2 bg-light-info" (click)="goToGame()">COMENZAR</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
  